@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
.form{
    flex: 4;
}

Form{
    color: blueviolet;
    text-align: center;
    padding: 5%;
    font-family: 'Merienda', cursive;
}
h1{
    color: chocolate;
}
input{
    margin: 10px;
    width: 60%;
    border: groove;
    padding: 10px;
    font-family: 'Merienda', cursive;
}
.qyw{
    font-size: 25px;
    padding-bottom: 20px;
}
input.men{
    text-align: center;
    padding: 50px;
    width: 53%;
    
}
button{
    border: none;
    color: aliceblue;
    background-color: chocolate;
    padding: 14px 28px;
    font-size: 16px;
    font-family: 'Merienda', cursive;
}